<div class="container">
    <div class="row">
        <div class="col-sm-3">
            @for(rConcept of initialTopics; track rConcept){
            <h3>{{rConcept}}</h3>
            }
        </div>
        <div class="col-sm-3">
            <div>
                @for(r1Concept of midTopics; track r1Concept){
                <h3 class="topicList">{{r1Concept}}</h3>
                }
            </div>
            <div>
                <h3>. users list for routeParameters</h3>
                @for (user of usersList; track user.id) {
                <h2 (click)="onUserClick(user.id)" style="cursor: pointer;">{{user.name}}</h2>
                }
            </div>
        </div>
        <div class="col-sm-3">
            <h3>. route gaurds</h3>
            @for(rg of routeGaurds; track rg){
                <h3>{{rg}}</h3>
            }
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
<div>
    <!-- <router-outlet></router-outlet> -->
</div>