<div class="container">
    <h1 style="color: rgb(225, 126, 126);">To check store data</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{userStoreData.name}}</td>
                <td>{{userStoreData.mobile}}</td>
                <td>{{userStoreData.email}}</td>
            </tr>
        </tbody>
    </table>



</div>